#position0 {
    background-color: #5d616e;
    color: Lavender
    }
#position1 {
    background-color: #7c7b78;
    color: Lavender
    }
#position2 {
    background-color: #999277;
    color: Lavender
    }
#position3 {
    background-color: #8e8978;
    color: Lavender
    }
#position4 {
    background-color: #9f9775;
    color: Lavender
    }
#position5 {
    background-color: #002f6d;
    color: Lavender
    }
#position6 {
    background-color: #777776;
    color: Lavender
    }
#position7 {
    background-color: #fee838;
    color: Lavender
    }
#position8 {
    background-color: #9f9775;
    color: Lavender
    }
#position9 {
    background-color: #62656f;
    color: Lavender
    }
#position10 {
    background-color: #727274;
    color: Lavender
    }
#position105 {
    background-color: White
    }
#position11 {
    background-color: #828079;
    color: Lavender
    }
#position12 {
    background-color: #828079;
    color: Lavender
    }
#position13 {
    background-color: #8e8978;
    color: Lavender
    }
#position14 {
    background-color: #46516c;
    color: Lavender
    }
#position15 {
    background-color: #9f9775;
    color: Lavender
    }
#position16 {
    background-color: #2a3f6d;
    color: Lavender
    }
#position17 {
    background-color: #828079;
    color: Lavender
    }
#position18 {
    background-color: #575d6d;
    color: Lavender
    }
#position19 {
    background-color: #575d6d;
    color: Lavender
    }
#position20 {
    background-color: #888578;
    color: Lavender
    }
#position21 {
    background-color: #5d616e;
    color: Lavender
    }
#position22 {
    background-color: #dfca57;
    color: Lavender
    }
#position23 {
    background-color: #777776;
    color: Lavender
    }
#position24 {
    background-color: #00224e;
    color: Lavender
    }
#position25 {
    background-color: #727274;
    color: Lavender
    }
#position26 {
    background-color: #938e78;
    color: Lavender
    }
#position27 {
    background-color: #5d616e;
    color: Lavender
    }
#position28 {
    background-color: #39486c;
    color: Lavender
    }
#position29 {
    background-color: #676a71;
    color: Lavender
    }
#position30 {
    background-color: White
    }
#position31 {
    background-color: #727274;
    color: Lavender
    }
#position32 {
    background-color: #52596d;
    color: Lavender
    }
#position33 {
    background-color: #828079;
    color: Lavender
    }
#position34 {
    background-color: #727274;
    color: Lavender
    }
#position35 {
    background-color: #676a71;
    color: Lavender
    }
#position36 {
    background-color: #ccba64;
    color: Lavender
    }
#position37 {
    background-color: #888578;
    color: Lavender
    }
#position38 {
    background-color: #7c7b78;
    color: Lavender
    }
#position39 {
    background-color: #c5b568;
    color: Lavender
    }