#position0 {
    background-color: #cbe566
    }
#position1 {
    background-color: #e0f066
    }
#position2 {
    background-color: #d3e966
    }
#position3 {
    background-color: #c5e266
    }
#position4 {
    background-color: #c9e466
    }
#position5 {
    background-color: #d3e966
    }
#position6 {
    background-color: #d8ec66
    }
#position7 {
    background-color: #f2f866
    }
#position8 {
    background-color: #dfef66
    }
#position9 {
    background-color: #e8f466
    }
#position10 {
    background-color: #cce666
    }
#position105 {
    background-color: White
    }
#position11 {
    background-color: #d2e866
    }
#position12 {
    background-color: #6db666
    }
#position13 {
    background-color: #b8dc66
    }
#position14 {
    background-color: #7bbd66
    }
#position15 {
    background-color: #90c866
    }
#position16 {
    background-color: #239166
    }
#position17 {
    background-color: #7b6
    }
#position18 {
    background-color: #038166
    }
#position19 {
    background-color: #56ab66
    }
#position20 {
    background-color: #249266
    }
#position21 {
    background-color: #46a266
    }
#position22 {
    background-color: #008066
    }
#position23 {
    background-color: #69b466
    }
#position24 {
    background-color: #4aa466
    }
#position25 {
    background-color: #4ea666
    }
#position26 {
    background-color: #4aa466
    }
#position27 {
    background-color: #2f9766
    }
#position28 {
    background-color: #4ea666
    }
#position29 {
    background-color: #4fa766
    }
#position30 {
    background-color: White
    }
#position31 {
    background-color: #48a366
    }
#position32 {
    background-color: #65b266
    }
#position33 {
    background-color: #80c066
    }
#position34 {
    background-color: #6bb566
    }
#position35 {
    background-color: #b4da66
    }
#position36 {
    background-color: #f5fa66
    }
#position37 {
    background-color: #ff6
    }
#position38 {
    background-color: #e3f166
    }
#position39 {
    background-color: #e1f066
    }